{% extends 'base.html' %}
{% block title %} {{event['name']}} Event {% endblock %}

{%block content %}

<!-- list group that dsiaplys all the data side to side with label-->
<h1>{{ event['name'] }}</h1>
<div class="row">
    <div class="col-md-6">

        <img class="img-fluid img-thumbnail my-3" src="{{ url_for('static', filename=event['image_path']) }}"
            alt="Event Image">
    </div>
    <div class="col-md-6">
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Event Details</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Location:</strong> {{ name['name'] }}</li>
                    <li class="list-group-item"><strong>Date:</strong> {{ event['event_date'] }}</li>

                    <li class="list-group-item"><strong>Start Time:</strong> {{ event['start_time'] }}</li>
                    <li class="list-group-item"><strong>End Time:</strong> {{ event['end_time'] }}</li>
                    <li class='list-group-item'><strong>Invitation Text:</strong> {{ event['invitation'] }}</li>
                    <li class='list-group-item'><strong>Event Notes:</strong> {{ event['notes'] }}</li>
                    <li class='list-group-item'><strong> Planner:</strong> {{planner['name']}} </li>
                    <li class='list-group-item'><strong> Host: </strong> {{host['name']}} </li>

                </ul>
            </div>
        </div>
        <div class="mt-3">
            <a href="{{ url_for('edit_event', event_id=event['event_id']) }}" class="btn btn-primary">Edit Event</a>
            <a href="{{ url_for('edit_event', event_id=event['event_id']) }}" class="btn btn-danger">Delete Event</a>
        </div>
    </div>
</div>

<!-- table for atednees-->
{% if attendees|length == 0 %} <!--#https://jinja.palletsprojects.com/en/3.0.x/templates/ -->
<h3 class='mt-4 d-flex justify-content-center'> There are no attendees </h3>
{% else %}

<div class="table-responsive overflow-auto">

<table class='table mt-4'>
    <h2 class='mt-3'> Attendees </h2>
    <thead>
        <tr>
            <th scope='col'>Name</th>
            <th scope='col'> Address</th>
            <th scope="col"> Email </th>
            <th scpoe="col"> Phone</th>
            <th scope="col"> Dob </th>

        </tr>
    </thead>
    <tbody>
        {% for person in attendees %}
        <tr>
            <td> {{person['name']}} </td>
            <td> {{person['address']}} </td>
            <td> {{person['email']}} </td>
            <td> {{person['phone']}} </td>
            <td> {{person['dob']}} </td>

            <td>
                <a href="{{ url_for('delete_attendee', event_id = event['event_id'], person_id = person['person_id'])}}"
                    class='btn btn-danger'> Delete </a>
            </td>
        </tr>
        {% endfor %}
        {%endif %}
    </tbody>
</table>
</div>



<!-- add form -->
<form class='d-flex justify-content-center' action="{{ url_for('add_attendee', event_id=event['event_id']) }}"
    method="POST">

    <div class='row mt-4 '>
        <div class='col col-md-6'>
            <select class="form-select" name='attendee'>
                {% for person in people %}
                {% if person['role'] != 'staff' %}
                <option value={{person['person_id']}}> {{person['name']}} </option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class='col-md-6'>
            <button class='btn btn-primary' type='submit'> Add Attendee </button>
        </div>
    </div>

</form>


{% endblock %}