{% extends 'base.html' %}
{% block title %} Venues {% endblock %}

{%block content %}
<img class = "img-fluid img-thumbnail mx-auto d-block" src = "{{ url_for('static', filename = 'images/birthday-party.png')}}">
<h1> PartyTime Venues </h1>
<!-- create table -->
<div class = 'table-responsive overflow-auto'>
<table class = "table table-borderless table-sm">
    <thead>
        <tr>
            <th scope = "col"> Name</th>
            <th scope = "col" > Address </th>
            <th scope = "col"> Phone </th>
            <th scope = "col"> Rental Fee </th>
            <th scope = "col"> Capacity </th>
        </tr>
    </thead>
    <tbody>
        <!-- table data-->
  {% for venue in venues %}
   <tr>
    <td> {{venue['name']}}</td>
    <td> {{venue['address']}}</td>
    <td> {{venue['phone']}}</td>
    <td> ${{venue['fee']}}</td>
    <td> {{venue['maximum_attendees']}}</td>
   </tr>

  {% endfor %}
    </tbody>
</table>
</div>
<a href = "{{url_for('add_venue')}}" class = 'btn btn-primary'> Add a venue </a>
{% endblock %}